body {
    background-color:#b3b3b3;
    margin: 0px;
    padding: 0px;
}

h1 {
    font-family: "Pixelify Sans", "Fira Code";
    font-size: 80px;
    margin-bottom: 0px;
    margin-top: 0px;
}

h3 {
    font-family: "Pixelify Sans", "Fira Code";
    font-size: 30px;
    margin: 10px;
    color: white;
    padding: 10px;
    background-color: #3b3b3b;
    display: inline-block;
    margin-left: 20px;
}

img {
    display: block;
}

#text-paragraph {
    padding: 10px;
    font-family: "Fira Code";
    background-color: white;
    border-radius: 3px;
    margin-right: 10px;
    margin-left: 10px;
}


.flex-container {
    display: flex;
}

.fade {
    animation: 1s linear 0s 1 running fadeIn;
}

#email-address {
    font-family: "Fira Code";
    font-size: 20px;
    position: relative;
    clear: left;
    margin-left: 10px;
    left: 0px;

}

#linked-in-link {
    border-style: outset;
    border-width: 5px;
    padding: 0px;
    border-color: #3c66ab;
    position: absolute;
    top: 10px;
    right: 10px;
}

#github-link {
    border-style: outset;
    border-width: 5px;
    padding: 0px;
    border-color: black;
    margin: 10px;
    position: absolute;
    right: 150px;
}



#top-bar {
    background-color: #3b3b3b;
    color: white;
    position: absolute;
    width: 100%;
    height: auto;
    top: 0px;


}

#my-name {
    margin-left: 10px;
    float: left;

}

hr {
    height: 10px;
    border: none;
    position: relative;
    background: #3b3b3b;
  }

.center {
    display: block;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

#jpl-section {
    margin-top: 100px;
    background-image: url("/images/starry-background.jpg");
    height: 162px;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid darkblue;
    position: relative;
}

#jpl-logo {
    position: relative;
    top: 0px;
}

#shooting-star-ele1 {
    padding: 0%;
    margin: 0%;
    width: 5px;
    height: 5px;
    background: white;
    animation: 8s linear 0s infinite running shootingStar;
    position: absolute;
    top: 40px;
    
}

#shooting-star-ele2 {
    padding: 0%;
    margin: 0%;
    width: 5px;
    height: 5px;
    background: white;
    animation: 5s linear 3s infinite running shootingStarInverted;
    position: absolute;
    top: 80px;
    
}

@keyframes fadeIn {
    from {opacity: 0%;}
    to {opacity: 100%;}
}

@keyframes shootingStar {
    0% {margin-left:120%;}
    10% {margin-left:-60%;}
    100% {margin-left:-60%;}
}

@keyframes shootingStarInverted {
    0% {margin-left:-20%;}
    10% {margin-left:120%;}
    100% {margin-left:120%;}
}

.link {

}